<h1>Auth#login</h1>
<p>Find me in app/views/auth/login.html.erb</p>

<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '355259171265354',
      xfbml      : true,
      version    : 'v2.1'
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<button onclick="login()">FB Login</button>
<button onclick="logout()">FB Logout</button>

<script type="text/javascript">
  var login = function(){
    FB.login(function(response) {
      if (response.authResponse) {
        console.log('Welcome!  Fetching your information.... ');
        FB.api('/me', function(response) {
          console.log('Good to see you, ' + response.name + '.');

          $.post('/auth/check_access_token/', FB.getAuthResponse(), function(r, i ,a){
            // debugger;
            console.log(r);
          });
        });
      } else {
        console.log('User cancelled login or did not fully authorize.');
      }
    });
  };

  var logout = function(){
    FB.logout(function(response) {
      // user is now logged out
    });
  };
</script>
