// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
    margin: auto;
    background-color: red;
    width: 1024px;
    & h1 {
        color: lightblue!important;
    }
}
